.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green,  orange,yellow, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}